body,
html {
  height: 100%;
  margin: 0 !important;
}

#root {
  height: 100%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url($images_dir + "hk_m.jpg");
  @include breakpoint($d_medium) {
    background-position: center;
    background-image: url($images_dir + "hk.jpg");
  }
}

#main {
  margin: 0 auto;
  color: #FFFFFF;
  max-width: 400px;
  padding: 5% 15px 0;
  text-align: center;
  font-family: $font-Montserrat-Regular;
}

#submit {
  background: #11b3ee;
}

#wStats {
  color: #BBE639;
}

#sStats {
  color: #FFA027;
}

#oStats {
  margin: 0 auto;
  max-width: 300px;
  padding-bottom: 5px;
}

#card2Box {
  display: none;
  position: relative;
}

#card3Box {
  visibility: hidden;
}